<div class="row">
    {{#each this}}
    <div class="col-12 col-lg-4 col-md-4 col-sm-6">
        <a href="#" class="beer"  data-id="{{id}}">
            <div class="image">
                <img src="{{image_url}}" alt="{{name}}" />
            </div>
            <h2>{{name}}</h2>
        </a>
    </div>
    {{/each}}
    <div class="col col-lg-4 col-md-4 col-sm-6 load-wrap">
        <button class="load">
            <img src="images/load.svg" alt="Load more..." />
            Load more...
        </button>
    </div>
</div>